// Variables de color
$light-bg-page: #eff1f4; // Fondo de la página en modo claro
$dark-bg-page: #121212; // Fondo de la página en modo oscuro
$light-bg-card: #fff; // Fondo de la tarjeta en modo claro
$dark-bg-card: #333; // Fondo de la tarjeta en modo oscuro
$light-text-color: #000; // Color de texto en modo claro
$dark-text-color: #fff; // Color de texto en modo oscuro

// Mixin para estilos de tema
@mixin theme-styles($bg-color-page, $bg-color-card, $text-color) {
  background-color: $bg-color-page;
  color: $text-color;

  .product-card {
    background-color: $bg-color-card;
  }
}

// Estilos por defecto (modo claro)
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light-bg-page;
  color: $light-text-color;

  .product-card {
    background-color: $light-bg-card;
  }
}

// Estilos para modo oscuro
[data-theme='dark'] body {
  @include theme-styles($dark-bg-page, $dark-bg-card, $dark-text-color);
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-img {
  border-radius: 5px;
  height: 150px;
  text-align: center;
  margin: 0 auto; // Centrar la imagen horizontalmente
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-name {
  max-width: 30ch; // Limitar la longitud a 30 caracteres
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.summary-small {
  font-size: 0.85em;
}

.btn-small {
  width: 100%; // Hacer que el botón ocupe todo el ancho de la tarjeta
  padding: 0.3rem;
  font-size: 0.875rem;
  background-color: #007bff; // Color de fondo del botón
  color: #fff; // Color de texto del botón
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;

  &:hover {
    background-color: #0056b3; // Color de fondo más oscuro al pasar el mouse
  }
}

.basic-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
}

.logo {
  width: 15em;
  height: auto;
}

hr {
  border: none; /* Elimina el borde predeterminado */
  height: 1px; /* Altura de la línea */
  background-color: #000; /* Color de la línea */
  margin: 20px 0; /* Márgenes superior e inferior */
}

.cuantificador {
  text-align: center;
  border: 1px solid gray;

  button {
    border: none;
    cursor: pointer;
    background: none;
    color: gray;
    font-weight: bold;

    &:hover {
      background-color: #b9b9b9;
    }
  }
}

.bi--cart {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607L1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4a2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4a2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2a1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2a1 1 0 0 1 0-2'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}