/* Default (light theme) styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff; /* Background color for light theme */
  color: #000; /* Text color for light theme */
}

/* Dark theme styles */
[data-theme='dark'] body {
  background-color: #121212; /* Background color for dark theme */
  color: #fff; /* Text color for dark theme */
}

.product-card {
  display: flex; 
  gap: 1rem; 
  background-color: inherit; /* Inherit background color from body */
  color: inherit; /* Inherit text color from body */
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-info {
  flex: 1; 
}

.product-img {
  border-radius: 5px;
  height: 150px;
  text-align: center;
}

.summary-small {
  font-size: 0.85em;
}

.basic-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

.btn-small {
  padding: 0.3rem 0.3rem;
  font-size: 0.875rem;
  width: 100%;
}

.btn-small, .btn-small:hover {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-small:hover {
  background-color: #0056b3; /* Darker button background on hover */
}

.logo {
  width: 15em;
  height: auto;
}
